PORT=
API_PREFIX=

MONGO_URI=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_TOKEN_TTL_SECONDS=900
CALL_RING_TIMEOUT_SECONDS=60

LOCATION_UPDATE_MIN_INTERVAL_MS=1000
